<div class="card text-center">
  <div class="card-header">
    <h1>Sign Up</h1>
  </div>
  <div class="card-body text-center">
    <div class="register">
      <div class="form-group col-md-6 text-center">
        <label >FullName</label>
        <input [(ngModel)]="registerUser.fullname" type="text" class="form-control" placeholder="FullName" />
      </div>

      <div class="form-group col-md-6">
        <label>Username</label>
        <input [(ngModel)]="registerUser.username" type="Username" class="form-control" placeholder="username" />
      </div>
      <div class="form-group col-md-6">
        <label >Password</label>
        <input [(ngModel)]="registerUser.password" type="password" class="form-control" placeholder="password" >
      </div>
      <div class="form-group col-md-6">
        <label>Confirm Password</label>
        <input
          [(ngModel)]="confirmPassword"
          type="Confirm Password"
          class="form-control"
          placeholder="Confirm Password"
        />
      </div>

      <div class="form-group col-md-6">
        <label >Mobile Number</label>
        <input  [(ngModel)]="registerUser.mobNum" type="number" class="form-control" placeholder="Mobile Number" />
      </div>
      <div class="form-group col-md-6">
        <button (click)=" userRegister()" type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </div>
  </div>
</div>

<!-- <input type="text"> -->

<!-- <div class="form-group">
    <label for="inputAddress">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="password"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Confirm Password"
    />
  </div>
  <div class="form-group">
    <label for="inputAddress2">Mobile Number</label>
    <input
      type="number"
      class="form-control"
      placeholder="Mobile Number"
    />
  </div> -->
