<!-- <app-userlogin></app-userlogin>
<app-userregister></app-userregister> -->

<!-- navbar navbar-dark bg-dark -->
<div *ngIf="isLoginSuccessData == 0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-brand brn btn-info"
      type="button"
      (click)="btnShow(1)"
    >
      Login
    </button>
    <button
      class="navbar-brand brn btn-info"
      type="button"
      (click)="btnShow(2)"
    >
      Sign Up
    </button>
  </nav>

  <app-userlogin *ngIf="whatToShow == 1"></app-userlogin>
  <app-userregister *ngIf="whatToShow == 2"></app-userregister>
</div>

<div *ngIf="isLoginSuccessData==1">super login</div>
<div *ngIf="isLoginSuccessData==2">admin login</div>
<div *ngIf="isLoginSuccessData==3">user dashboard</div>