<!-- <app-userlogin></app-userlogin>
<app-userregister></app-userregister> -->

<!-- navbar navbar-dark bg-dark -->
<div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-brand brn btn-info" type="button" (click)="btnShow(1)">Login User</button>
  <button class="navbar-brand brn btn-info" type="button" (click)="btnShow(2)">Sign Up</button>
</nav>
</div>

<div>
<app-userlogin *ngIf="whatToShow==1"></app-userlogin>
<app-userregister *ngIf="whatToShow==2"></app-userregister>
</div>